@model IEnumerable<Unit>
<h1>List of Units</h1>

<form method="get" class="form-check-input">
	<input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Search by name..." />
	<button type="submit">Search</button>
</form>
<br />
<br />
<a asp-controller="Unit" asp-action="Create" >Create</a>

<table>
	<thead>
		<tr>
			<th width="20%">No.</th>
			<th width="30%"><a asp-action="Index" asp-route-searchTerm="@ViewBag.SearchTerm" asp-route-page="@ViewBag.CurrentPage" asp-route-desc="@(!ViewBag.Desc)">Name@(ViewBag.Desc ? "↓" : "↑")</a></th>
			<th width="30%">Description</th>
			<th width="10%">Options</th>
		</tr>
	</thead>
	<tbody>
		@{
			var count=0;
		}
		@foreach(var item in Model)
		{
			count = count + 1;
			<tr>
				<td>@count</td>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>
				  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<nav>
	<ul class="pagination">
		@if (ViewBag.CurrentPage > 1)
		{
			<li class="page-item" >
				<a class="page-link" asp-action="Index" asp-route-searchTerm="@ViewBag.SearchTerm" asp-route-page="@(ViewBag.CurrentPage - 1)" asp-route-desc="@ViewBag.Desc">-prev-</a>
			</li>
		}
		@for(int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
		{
			<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
				<a class="page-link" asp-action="Index" asp-route-searchTerm="@ViewBag.SearchTerm" asp-route-page="@i" asp-route-desc="@ViewBag.Desc">@i</a>
			</li>
		}
		@if (ViewBag.CurrentPage < ViewBag.TotalPage)
		{
			<li class="page-item">
				<a class="page-link" asp-action="Index" asp-route-searchTerm="@ViewBag.SearchTerm" asp-route-page="@(ViewBag.CurrentPage + 1)" asp-route-desc="@ViewBag.Desc">-next-</a>
			</li>
		}
	</ul>
</nav>
